/*--------------------------------------*
 * display
 *--------------------------------------*/
 .u-inline-block {
    display: inline-block;
 }

 .u-display--hidden{
   display: none;
 }

 .u-display--active{
   display: block;
 }