/*--------------------------------------*
 * inner
 *--------------------------------------*/
 .c-inner {
    margin: 0 auto;
    padding: 24px 15%;

    &__header{
      padding: 24px 15% 0 15%;
    }
 }
