/*--------------------------------------*
 * section
 *--------------------------------------*/
 @use "../../foundation/variable" as *;

// c-section
 .c-section {
    &__content {
        background-color: $c-light-gray-01;
    }

    &__item {
        display: flex;
        margin: 48px 32px;
        justify-content: space-between;
    }

    &__logo {
        width: 128px;
        margin-bottom: 20px;
    }

    &__text-wrap {
        width: 49%;
    }

    &__title {
        font-size: $font-xl;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__body {
        font-size: $font-m;
        margin-bottom: 20px;
    }

    &__img {
        width: 400px;
    }

    &__btn {
        background-color: $c-green;
        box-shadow: 0 2px 2px 0 $c-light-gray-02;

        & a {
            color: $c-white;
        }
        
        &:hover {
            background-color: $c-dark-green;
        }
    }
 }
 